version: 2.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-gradle-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Stiahnutie závislostí
          command: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-gradle-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Build a testy
          command: ./gradlew build

      - store_test_results:
          path: build/test-results

      - store_artifacts:
          path: build/libs
          destination: libs